# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Next.js build output and cache
.next/

# Environment variables
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local
.1env.local
env.local.temp
env.local.temp*
*.env.temp

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/ 
.vercel
